[submodule "util/lib"]
	path = util/lib
	url = git@github.com:ttetrafon/typescript-lib.git
[submodule "util/lib-react"]
	path = util/lib-react
	url = git@github.com:ttetrafon/react-lib.git
[submodule "util/lib-cf"]
	path = util/lib-cf
	url = git@github.com:ttetrafon/cloudflare-ts-lib.git
