:root {
  font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;

  --colour-primary: #100600;
  --colour-primary-a: #10060070;
  --colour-secondary: #dc5f00;
  --colour-secondary-a: #dc5f0070;
  --colour-tertiary: #686d76;
  --colour-tertiary-a: #686d7670;
  --colour-quaternary: #f5f5f5;
  --colour-quaternary-a: #f5f5f570;

  color-scheme: light dark;
  color: var(--colour-quaternary);
  background-color: var(--colour-primary);

  font-synthesis: weight style;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  cursor: default;
  user-select: none;

  --statics-height-header: 3em;
  --statics-height-footer: 2em;
  --statics-height-nav: 2em;
  --statics-width-side: 250px;
  --statics-controls-short: 1.5em;
  --statics-controls-tall: 3em;

  --border-dark: 1px solid var(--colour-secondary);
  --border-light: 1px solid var(--colour-tertiary);
}

* {
  margin: 0;
  padding: 0;
  font-size: 1em;
  box-sizing: border-box;
}

body {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

si-header {
  position: fixed;
  left: var(--statics-width-side);
  right: 0;
  top: 0;
  height: var(--statics-height-header);
  border-bottom: var(--border-light);
}

si-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--statics-height-footer);
  border-top: var(--border-light);
}

nav {
  top: var(--statics-height-header);
  position: fixed;
  left: var(--statics-width-side);
  right: 0;
  height: var(--statics-height-nav);
  background-color: var(--colour-2a);
}

main {
  position: fixed;
  left: var(--statics-width-side);
  right: 0;
  top: calc(var(--statics-height-header) + var(--statics-height-nav));
  bottom: var(--statics-height-footer);
  padding: 15px;
}
#main-container {
  max-width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}
si-side-panel {
  max-width: 25%;
  flex-grow: 0.25;
  flex-shrink: 1;
}
#chat-container {
  min-width: 33%;
  max-width: 50%;
  flex-grow: 0.5;
  flex-shrink: 0.5;
  max-height: 25%;
}
#dice-roller {
  min-width: 33%;
  max-width: 50%;
  flex-grow: 0.5;
  flex-shrink: 0.5;
  max-height: 25%;
}

aside {
  position: fixed;
  left: 0;
  width: var(--statics-width-side);
  top: 0;
  bottom: var(--statics-height-footer);
  padding: 5px;
  border-right: var(--border-light);
}

.flex-line {
  display: flex;
  flex-flow: row nowrap;
}
.flex-multi-line {
  display: flex;
  flex-flow: row wrap;
}
.flex-column {
  display: flex;
  flex-flow: column nowrap;
}
.flex-multi-column {
  display: flex;
  flex-flow: column wrap;
}
.flex-separator {
  flex-grow: 1;
  flex-shrink: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
  margin-top: 15px;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1.1em;
}
h6 {
  font-size: 1.05em;
}
p {
  margin-bottom: 0.5em;
}
p.quote {
  padding-left: 35px;
  font-style: italic;
  color: var(--colour-tertiary);
}

button {
  border: none;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  padding: 0.1em 1em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--colour-primary);
    background-color: var(--colour-quaternary);

    --border-dark: 1px solid var(--colour-tertiary);
    --border-light: 1px solid var(--colour-secondary);
  }
}

@container full-page (max-width: 1024px) {
  main {
    left: 50px;
  }

  aside {
    width: 50px;
  }
}

@media print {
  * {
    background-color: none;
  }

  si-header, si-footer {
    display: none;
  }
}

.hidden {
  display: none;
}
