:root {
  --colour-1: #eeeeee;
  --colour-1a: #eeeeee80;
  --colour-2: #686d76;
  --colour-2a: #686d7680;
  --colour-3: #373a40;
  --colour-3a: #373a4080;
  --colour-4: #dc5f00;
  --colour-4a:#dc5f0080;

  --statics-height: 25px;
  --base-gap: 8px;
  --small-gap: 4px;

  --border-dark: 1px solid var(--colour-3);
  --border-light: 1px solid var(--colour-2);

  --number-of-pages: 4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  font-weight: normal;
  font-size: 10pt;
  color: var(--colour-3);
  background: none;
  user-select: none;
}

body {
  width: 210mm;
  height: calc(var(--number-of-pages) * 293mm);
  margin: auto;
  padding: 0;
}

@page {
  size: A4;
  margin: 0;
}

main {
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  height: calc(100% / var(--number-of-pages));
  display: grid;
  grid-template-columns: repeat(25, 4%);
  grid-template-rows: repeat(50, 2%);
  justify-items: stretch;
  align-items: stretch;
}
#page-1 {
  background-color: rgba(0, 128, 0, 0.103);
}
#page-2 {
  background-color: rgba(255, 0, 0, 0.105);
}
#page-3 {
  background-color: rgba(124, 128, 0, 0.103);
}
#page-4 {
  background-color: rgba(0, 4, 128, 0.103);
}

article {
  margin: var(--small-gap);
  border-radius: var(--base-gap);
  border: var(--border-dark);
  padding: var(--base-gap);
}

/* PAGE 1 */
#general-info {
  grid-column: 1 / 12;
  grid-row: 1 / 16;
}
#attributes {
  grid-column: 12 / 26;
  grid-row: 1 / 13;
}
/* PAGE 2 */
#self {
  grid-column: 1 / 18;
  grid-row: 1 / 51;
}
#languages {
  grid-column: 18 / 26;
  grid-row: 1 / 16;
}
/* PAGE 3 */
#skills {
  grid-column: 1 / 13;
  grid-row: 1 / 51;
}
#perks {
  grid-column: 13 / 26;
  grid-row: 1 / 28;
}
/* PAGE 4 */
#magic {
  grid-column: 1 / 13;
  grid-row: 1 / 24;
}
#magic-second {
  grid-column: 13 / 26;
  grid-row: 1 / 45;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
  font-weight: bold;
}
h1 {
  font-size: 1.5em;
  color: var(--colour-4);
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1.1em;
  font-style: italic;
  color: var(--colour-4);
}
h6 {
  font-size: 1em;
}
.complex:after {
  content: "*";
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: stretch;
  gap: var(--base-gap);
}
.flex-column {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-content: stretch;
}
.flex-multi-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: stretch;
  gap: var(--base-gap);
}
.flex-item-resizable {
  flex-grow: 1;
  flex-shrink: 1;
}
.flex-item-static {
  flex-grow: 0;
  flex-shrink: 0;
}

#left-column {
  width: 48%;
}
#right-column {
  width: 48%;
}

.entry-line {
  flex-grow: 1;
  flex-shrink: 1;
  border-bottom: var(--border-light);
  min-height: 2em;
}
.entry-line-medium {
  flex-grow: 0.5;
  flex-shrink: 2;
  border-bottom: var(--border-light);
}
.entry-line-small {
  width: 25px;
  flex-grow: 0;
  flex-shrink: 0;
  border-bottom: var(--border-light);
}

hr {
  margin-top: var(--small-gap);
  border-bottom: var(--border-dark);
}

table, thead, tbody, th, td {
  border: var(--border-light);
  border-collapse: collapse;
}
#self table {
  width: 100%;
}
th {
  font-size: 1.1em;
  font-weight: bold;
  padding: 5px;
}
td {
  padding: 5px;
}
#attributes td {
  height: 37px;
  min-width: 69px;
}
#self td {
  min-width: 75px;
}

.details-list {
  list-style: none;
  text-align: center;
  width: 100%;
}
.details-list li {
  font-style: italic;
}

.border-bottom {
  border-bottom: var(--border-light);
}

.centred {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}

.invisible {
  opacity: 0;
}

.hidden {
  display: none;
}
