@import "tailwindcss" source(".");

:root {
  --color-alpha: #662222;
  --color-beta: #842A3B;
  --color-gamma: #A3485A;
  --color-delta: #F5DAA7;
  --color-text: #ece3d2;
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --spacing: 4px;

  --color-alpha: var(--color-alpha);
  --color-beta: var(--color-beta);
  --color-gamma: var(--color-gamma);
  --color-delta: var(--color-delta);
  --color-text: var(--color-text);
}

@layer base {
  /*******/
  /* NAV */
  /*******/
  nav h1 {
    @apply italic m-1;
  }
  nav h2 {
    @apply text-sm m-1;
  }

  /***********/
  /* GENERAL */
  /***********/
  button {
    @apply cursor-pointer;
  }

  input {
    @apply p-1 shadow-md shadow-delta rounded-md;
  }
}
