:root {
  --colour-1: #f5f5f5;
  --colour-1a: #eeeeee80;
  --colour-2: #686d76;
  --colour-2a: #686d7680;
  --colour-3: #373a40;
  --colour-3a: #373a4080;
  --colour-4: #dc5f00;
  --colour-4a:#dc5f0080;
  --colour-5: #000000;

  --statics-height-header: 3rem;
  --statics-height-footer: 2rem;
  --statics-height-nav: 2rem;
  --statics-width-side: 250px;

  --font-base-size: 18px;

  --border-dark: 1px solid var(--colour-3);
}

/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  font-weight: normal;
  color: var(--colour-3a);
  font-size: 1rem;
}

body {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--colour-1);
  font-size: var(--font-base-size);
  container: full-page / size;
}

si-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: var(--statics-height-header);
  background-color: var(--colour-4);
}

si-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--statics-height-footer);
  background-color: var(--colour-3);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
}

nav {
  top: var(--statics-height-header);
  position: fixed;
  left: var(--statics-width-side);
  right: 0;
  height: var(--statics-height-nav);
  background-color: var(--colour-2a);
}

main {
  position: fixed;
  left: var(--statics-width-side);
  right: 0;
  top: calc(var(--statics-height-header) + var(--statics-height-nav));
  bottom: var(--statics-height-footer);
  padding: 15px;
}

aside {
  position: fixed;
  left: 0;
  width: var(--statics-width-side);
  top: var(--statics-height-header);
  bottom: var(--statics-height-footer);
  padding: 5px;
  background-color: var(--colour-3);
}

.flex-line {
  display: flex;
  flex-flow: row nowrap;
}
.flex-column {
  display: flex;
  flex-flow: column nowrap;
}
.flex-separator-horizontal {
  flex-grow: 1;
  flex-shrink: 1;
}

@container full-page (max-width: 1024px) {
  main {
    left: 50px;
  }

  aside {
    width: 50px;
  }
}

@media print {
  * {
    background-color: none;
  }

  si-header, si-footer {
    display: none;
  }
}
