:root {
  --colour-1: #eeeeee;
  --colour-1a: #eeeeee80;
  --colour-2: #686d76;
  --colour-2a: #686d7680;
  --colour-3: #373a40;
  --colour-3a: #373a4080;
  --colour-4: #dc5f00;
  --colour-4a:#dc5f0080;

  --statics-height-header: 35px;
  --statics-height-footer: 20px;

  --border-dark: 1px solid var(--colour-3);
}

/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  font-weight: normal;
  color: var(--colour-3a);
}

body {
  background-color: var(--colour-1);
}

si-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: var(--statics-height-header);
  background-color: var(--colour-4);
}

si-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--statics-height-footer);
  background-color: var(--colour-3);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Segoe Print', 'Bradley Hand', Chilanka, TSCu_Comic, casual, cursive;
}

main {
  position: fixed;
  left: 0;
  right: 0;
  top: calc(var(--statics-height-header) + 5px);
  bottom: calc(var(--statics-height-footer) + 5px);
  padding: 15px;
}

.flex-line {
  display: flex;
  flex-flow: ro nowrap;
}
.flex-column {
  display: flex;
  flex-flow: column nowrap;
}
.flex-separator-horizontal {
  flex-grow: 1;
  flex-shrink: 1;
}

@media print {
  * {
    background-color: none;
  }

  si-header, si-footer {
    display: none;
  }
}
